@charset "UTF-8";


#content_div{
	width:1160px;	
}

#board_table {
		margin-left:auto;
		margin-right:auto;		
	}
	
	#no_column{
		width:100px;
	}
	
	#title_column{
		width:540px;
	}
	
	#author_column{
		width:170px;
	}
	
	#regDate_column{
		width:140px;
	}	
	
	#readCount_column{
		width:100px;
	}

	caption {
		padding:10px;
		font-size:2em;
		font-style:italic;
		text-align:left;
	}
	
	thead th{
		height:30px;	
	}
	
	thead .board_head_line{
		border-bottom:1px solid purple;
	}
	
	tfoot th{
		height:50px;
	}
	
	
	#board_table tbody td{
		padding:2px 5px;
		height:40px;
		
	}
	
	#board_table tbody #hasNoRecord{
		height:150px;
		color:blue;
	} 
	
	tfoot #write_btn_td{
		text-align:right;
		padding:20px;		
	}
	
	tfoot #write_btn {
		
		padding:5px;
		border-radius:10px;		
		background:white;
		font-weight:bold;
		font-size:1em;
		line-height:22px;
	}
	
	tfoot th a{
		text-decoration:none;
	}	
	
	.board_title_td, .board_author_td{
		text-align:left;
	}
	
	.board_no_td, .board_regDate_td, .board_readCount_td{
		text-align:center;
	}

	.board_title_td a, .page_th a{
		text-decoration: none;
		color:black;
	}
	
	.page_th a{
			
	}
	
	.page_th .page_num_a{
		width:20px;	
		height:20px;	
		display:inline-block;
	}
	
	.page_str_a{
		width:40px;
	}
		
	.text_left{
		text-align:left;
	}
	
	#write_img{
		width:15px;
		height:15px;
	}
	
	#write_btn_text_span{
		text-decoration:none;
		color:black;
	}
	
	#search_div{
		text-align:center;
	}
	
	#search_select{
		height:30px;
		padding:5px;	
		margin-left:15px;
		border-radius:5px;
	}
	
	#search_input{
		width:400px;
		height:24px;
		margin-left:10px;
		border-radius:5px;
	}
	
	#search_btn{
		width:52px;
		height:32px;
		border:0px;
		background:purple;
		color:white;
		font-weight:bold;
	}
	
	#currentPage_a{
		border:1px solid purple;
	}