@charset "UTF-8";

#content_div{
	width:1160px;	
}

thead .board_head_line{
		border-bottom:1px solid purple;
	}

.board_detail_table, .board_detail_table2{
	margin:0px auto 20px auto;
	
}

.board_detail_table2 .detail_author_th {
	text-align:left;
	padding:0px 5px;
}

.board_detail_table2 .detail_regDate_td{
	text-align:left;
	padding:0px 5px;
	color:grey;
}

.board_detail_table2 .detail_title_th{
	width:1050px;
	height:40px;
	font-size:1.2em;
	padding:5px;
	margin-top:10px;
	text-align:left;
}

caption {
		padding:10px;
		font-size:2em;
		font-style:italic;
		text-align:left;
	}

.detail_content_td{	
	font-size:1.3em;
	padding:5px;
	margin-top:10px;
	resize:none;
}



#board_add_btn_span{
	float:right;
}

.board_btn{
	padding:7.5px 15px;
	border-radius:10px;
	margin-left:10px;
	background:skyblue;
	font-weight:bold;
	background:#F8E0F1;
	border:0px;
	
}